:root {
  --accent-color: #1d4ed8;
  --accent-color-alt: #1e40af;
  --bg-color: #1a202c;
  --bg-color-alt: #1f2937;
  --bg-gradient: linear-gradient(to right, var(--accent-color), var(--accent-color-alt));
  --primary-color: #ffffff;
  --secondary-color: #000000;
  --text-color: #cbd5e0;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
  scroll-behavior: smooth;
  scroll-padding-top: 5em;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: system-ui, -apple-system, "Segoe UI", Ubuntu, Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

header,
footer {
  background: var(--bg-gradient);
  color: var(--primary-color);
  padding: 1rem;
}

header {
  box-shadow: 0 4px 8px rgba(256, 256, 256, 0.1);
  position: sticky;
  top: 0;
}

footer {
  font-size: small;
  text-align: center;
}

footer img {
  height: 24px;
  width: 24px;
}

main {
  padding: 1rem;
}

main a,
button {
  background-color: var(--accent-color);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease-in-out;
}

main a {
  border: 1px solid var(--secondary-color);
}

main a:hover,
button:hover {
  background-color: var(--accent-color-alt);
}

section:not(#hero, #projects),
#projects article {
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(256, 256, 256, 0.1);
  margin-block: 1rem;
  padding: 1.5rem;
}

h1 {
  background: var(--bg-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

h2 {
  border-bottom: 2px solid var(--text-color);
  color: var(--accent-color-alt);
}

h3 {
  color: var(--accent-color);
}

button {
  color: var(--primary-color);
  cursor: pointer;
  display: block;
  margin-inline: auto;
  width: 50%;
}

button,
input,
textarea,
li {
  font: inherit;
}

a,
label,
strong {
  color: var(--primary-color);
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: contain;
}

input,
textarea {
  border: 1px solid var(--accent-color);
  border-radius: 0.5rem;
  margin-block: 0.5rem 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
}

nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-around;
}

nav a {
  color: inherit;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

nav a:active {
  font-weight: bolder;
}

#hero {
  text-align: center;
  margin-block: 3rem;
}

#hero img,
nav img {
  border-radius: 50%;
}

#about,
#skills,
#contact {
  padding: 1rem;
}

#skills img {
  height: 32px;
  width: 32px;
}

#skills ul {
  padding-left: 0.5rem;
}

#projects {
  padding: 1rem;
}

.container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

#projects .container {
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 300px), 1fr));
}

#projects article {
  background-color: var(--bg-color-alt);
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(256, 256, 256, 0.1);
  margin-block: 1rem;
  padding: 1.5rem;
}

#projects img {
  display: block;
  margin-inline: auto;
}

#projects .links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
}

#projects .links>* {
  min-width: -moz-fit-content;
  min-width: -webkit-fill-available;
  min-width: fit-content;
}